DJANGO_SECRET_KEY=n&w&0$tbz6as@oip25&-y9+5^3xfi6rl$9aku=v4+g2l#2%vp3
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,seu-dominio.com,www.seu-dominio.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://seu-dominio.com,https://www.seu-dominio.com

# Opcional: use apenas uma abordagem de banco (DATABASE_URL ou DB_*)
DATABASE_URL=
DB_SSL_REQUIRE=True

DB_NAME=umbanda_db
DB_USER=umbanda_user
DB_PASSWORD=Inovatech@2025
DB_HOST=localhost
DB_PORT=5432
