{% extends 'management/base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Eventos</h1>
    <a href="{% url 'criar_evento' %}" class="btn btn-primary">Novo Evento</a>
</div>

<div class="card">
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Tipo</th>
                    <th>Data</th>
                    <th>Horário</th>
                </tr>
            </thead>
            <tbody>
                {% for evento in eventos %}
                <tr>
                    <td>{{ evento.titulo }}</td>
                    <td>{{ evento.get_tipo_display }}</td>
                    <td>{{ evento.data|date:"d/m/Y" }}</td>
                    <td>{{ evento.horario }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
